<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/dashboard.style.css" />
    <title>Cart</title>
  </head>

  <body>
    <div class="container">
      <!-- Sidebar Section -->
      <aside>
        <div class="toggle">
          <div class="logo">
            <img src="images/logo.png" />
            <h2>Inven<span class="danger">Tory</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp"> close </span>
          </div>
        </div>

        <div class="sidebar">
          <a href="dashboard">
            <span class="material-icons-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> person_outline </span>
            <h3>Users</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> receipt_long </span>
            <h3>History</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> insights </span>
            <h3>Analytics</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> inventory </span>
            <h3>Product</h3>
          </a>
          <a href="#" class="active">
            <!-- <span class="material-icons-sharp"> mail_outline </span> -->
            <span class="material-icons-sharp"> shopping_cart </span>
            <h3>Cart</h3>
            <span class="message-count">3</span>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> inventory </span>
            <h3>Sale List</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> report_gmailerrorred </span>
            <h3>Reports</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> settings </span>
            <h3>Settings</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>
      <!-- End of Sidebar Section -->

      <!-- Main Content -->
      <main>
        <h1>Cart</h1>

        <div
          class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="w-full mb-1">
            <div
              class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700"
            >
              <div class="flex items-center mb-4 sm:mb-0">
                <form class="sm:pr-3" action="#" method="GET">
                  <label for="products-search" class="sr-only">Search</label>
                  <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
                    <input
                      type="text"
                      name="email"
                      id="products-search"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Search for products"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="overflow-x-auto">
            <div class="inline-block min-w-full align-middle">
              <div class="overflow-hidden shadow">
                <table
                  class="min-w-full divide-y bg-white rounded dark:divide-gray-600"
                >
                  <thead class="bg-white dark:bg-gray-700">
                    <tr>
                      <th scope="col" class="p-4">
                        <div class="flex items-center">
                          <input
                            id="checkbox-all"
                            aria-describedby="checkbox-1"
                            type="checkbox"
                            class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                          />
                          <label for="checkbox-all" class="sr-only"
                            >checkbox</label
                          >
                        </div>
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Product Name
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Product Code
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Available
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Price
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Quantity
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Subtotal
                      </th>
                      <th
                        scope="col"
                        class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                      >
                        Actions
                      </th>
                    </tr>
                  </thead>
                  <tbody
                    class="overflow-y-auto divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700"
                  >
                    <% for(let i=0;i<5;i++) { %>
                    <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                      <td class="w-4 p-4">
                        <div class="flex items-center">
                          <input
                            id="checkbox-194556"
                            aria-describedby="checkbox-1"
                            type="checkbox"
                            class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                          />
                          <label for="checkbox-194556" class="sr-only"
                            >checkbox</label
                          >
                        </div>
                      </td>
                      <td
                        class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400"
                      >
                        <div
                          class="text-base font-semibold text-gray-900 dark:text-white"
                        >
                          row.product_name
                        </div>
                        <div
                          class="text-sm font-normal text-gray-500 dark:text-gray-400"
                        >
                          Html templates
                        </div>
                      </td>
                      <td
                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                      >
                        row.product_code
                      </td>
                      <td
                        class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400"
                      >
                        row.amount
                      </td>
                      <td
                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                      >
                        row.price
                      </td>
                      <td
                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                      >
                        <div class="flex items-center space-x-2">
                          <button
                            class="danger bg-gray-200 text-gray-600 hover:bg-gray-300 p-2 rounded-full focus:outline-none decrease"
                          >
                            <svg
                              class="w-4 h-4"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M20 12H4"
                              ></path>
                            </svg>
                          </button>

                          <input
                            type="number"
                            value="1"
                            min="1"
                            max="50"
                            class="w-16 p-2 text-center border rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-300 appearance-none quantity"
                          />

                          <button
                            class="success bg-gray-200 text-gray-600 hover:bg-gray-300 p-2 rounded-full focus:outline-none increase"
                          >
                            <svg
                              class="w-4 h-4"
                              fill="none"
                              stroke="currentColor"
                              viewBox="0 0 24 24"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                              ></path>
                            </svg>
                          </button>
                        </div>
                      </td>
                      <td
                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"
                      >
                        No
                      </td>
                      <td class="p-4 space-x-2 whitespace-nowrap">
                        <button
                          type="button"
                          id="deleteProductButton"
                          data-drawer-target="drawer-delete-product-default"
                          data-drawer-show="drawer-delete-product-default"
                          aria-controls="drawer-delete-product-default"
                          data-drawer-placement="right"
                          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
                        >
                          <svg
                            class="w-4 h-4 mr-2"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                          Remove
                        </button>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>

                <!-- Billing card -->
                <div class="mt-2 flex justify-start">
                  <div class="w-full max-w-2xl mx-4">
                    <div
                      class="bg-white rounded-lg shadow border p-6 space-y-4"
                    >
                      <h2
                        class="text-xl font-bold leading-tight text-gray-900 md:text-2xl"
                      >
                        Billing Address
                      </h2>
                      <div>
                        <label
                          for="email"
                          class="block mb-2 text-sm font-medium text-gray-900"
                        >
                          Company name
                        </label>
                        <input
                          type="email"
                          name="email"
                          id="email"
                          class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                          placeholder="name@company.com"
                          required=""
                        />
                      </div>
                      <div>
                        <label
                          for="address"
                          class="block mb-2 text-sm font-medium text-gray-900"
                        >
                          Address
                        </label>
                        <input
                          type="text"
                          name="address"
                          id="address"
                          class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                          placeholder="123 Main St, City"
                          required=""
                        />
                      </div>
                    </div>
                  </div>

                  <div class="w-full max-w-2xl mx-4">
                    <div
                      class="bg-white rounded-lg shadow border p-6 space-y-4"
                    >
                      <h2
                        class="text-xl font-bold leading-tight text-gray-900 md:text-2xl"
                      >
                        Total Amount
                      </h2>

                      <div class="flex flex-col space-y-4">
                        <div class="flex justify-between">
                          <div class="font-medium text-xl">Subtotal</div>
                          <div class="font-medium text-xl">$415.00</div>
                        </div>

                        <div class="flex justify-between">
                          <div class="font-medium text-xl">Discount</div>
                          <div class="font-medium text-xl">
                            $
                            <input
                              type="text"
                              id="discountInput"
                              class="border shadow w-20 rounded px-2 py-1 mr-2"
                              value="64.00"
                            />
                          </div>
                        </div>
                        <div class="flex justify-between">
                          <div class="font-semibold text-xl">Total</div>
                          <div class="font-semibold text-xl">$351.00</div>
                        </div>
                      </div>
                      <div class="flex justify-end">
                        <button
                          type="button"
                          id="triggerButton"
                          class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                        >
                          Pay
                        </button>
                      </div>
                    </div>
                  </div>

                  <script>
                    const subtotalInput = document.getElementById("subtotal");
                    const discountInput = document.getElementById("discount");
                    const grandTotalOutput =
                      document.getElementById("grandTotal");

                    subtotalInput.addEventListener("input", updateGrandTotal);
                    discountInput.addEventListener("input", updateGrandTotal);

                    function updateGrandTotal() {
                      const subtotal = parseFloat(subtotalInput.value) || 0;
                      const discount = parseFloat(discountInput.value) || 0;

                      const grandTotal = subtotal - discount;
                      grandTotalOutput.textContent = grandTotal.toFixed(2);
                    }
                  </script>
                </div>
                <!-- ends -->

                <!-- ends -->
              </div>
            </div>
          </div>
        </div>

        <!-- Pop up starts -->

        <div class="popup-background" id="popupBackground">
          <div class="relative w-full max-w-md max-h-full">
            <!-- Modal content -->
            <div
              class="popup-content relative bg-white rounded-lg shadow dark:bg-gray-700"
            >
              <button
                type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                data-modal-hide="authentication-modal"
                id="closePopup"
              >
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                <h3
                  class="mb-4 text-xl font-medium text-gray-900 dark:text-white"
                >
                  Make Payment
                </h3>
                <form class="space-y-6" action="invoice">
                  <div>
                    <label
                      for="payment_method"
                      class="block mb-2 text-sm font-medium text-gray-900"
                    >
                      User Category
                    </label>
                    <select
                      name="payment_method"
                      id="payment_method"
                      class="bg-white border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                      required=""
                    >
                      <option value="cash">Cash</option>
                      <option value="card">Card</option>
                    </select>
                  </div>
                  <div class="flex justify-between color-black">
                    <div class="font-medium text-xl">Total</div>
                    <div class="font-medium text-xl" id="modal_total">
                      $351.00
                    </div>
                  </div>
                  <div class="flex justify-between">
                    <div class="font-medium text-xl">Paid Amount</div>
                    <div class="font-medium text-xl">
                      $
                      <input
                        type="text"
                        id="discountInput"
                        class="border shadow w-20 rounded px-2 py-1 mr-2"
                        value="64.00"
                      />
                    </div>
                  </div>

                  <div class="flex justify-between color-dark">
                    <div class="font-medium text-xl">Due</div>
                    <div class="font-medium text-xl" id="modal_due">
                      $351.00
                    </div>
                  </div>
                  <button
                    id="payButton"
                    type="submit"
                    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                  >
                    Pay Now
                  </button>
                </form>
              </div>
            </div>
            <!-- <button id="closePopup">Close</button> -->
          </div>
        </div>
        <!-- pop up ends -->
      </main>
      <!-- End of Main Content -->

      <!-- Pay now script-->
      <script>
        // document.getElementById("submitBtn").addEventListener("click", () => {
        //   const inputData = document.getElementById("dataInput").value;
        // });
        document.getElementById("payButton").addEventListener("click", () => {
          // Assuming you want to navigate to a new route when the button is clicked
          window.location.href = "invoice"; // Replace with the actual route you want to navigate to
        });
      </script>

      <!-- Right Section -->
      <div class="right-section">
        <div class="nav">
          <button id="menu-btn">
            <span class="material-icons-sharp"> menu </span>
          </button>
          <div class="dark-mode">
            <span class="material-icons-sharp active"> light_mode </span>
            <span class="material-icons-sharp"> dark_mode </span>
          </div>

          <div class="profile">
            <div class="info">
              <p>Hey, <b>Mobin</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="images/profile-1.jpg" />
            </div>
          </div>
        </div>
        <!-- End of Nav -->

        <div class="user-profile">
          <div class="logo">
            <img src="images/logo.png" />
            <h2>Mobin</h2>
            <p>Admin</p>
            <button
              data-modal-target="authentication-modal"
              data-modal-toggle="authentication-modal"
              id="triggerButto"
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button"
            >
              Toggle modal
            </button>
            <!-- <button id="triggerButton" class="danger">pop up click</button> -->
          </div>
        </div>

        <div class="reminders">
          <div class="header">
            <h2>Reminders</h2>
            <span class="material-icons-sharp"> notifications_none </span>
          </div>

          <div class="notification">
            <div class="icon">
              <span class="material-icons-sharp"> volume_up </span>
            </div>
            <div class="content">
              <div class="info">
                <h3>Workshop</h3>
                <small class="text_muted"> 08:00 AM - 12:00 PM </small>
              </div>
              <span class="material-icons-sharp"> more_vert </span>
            </div>
          </div>

          <div class="notification deactive">
            <div class="icon">
              <span class="material-icons-sharp"> edit </span>
            </div>
            <div class="content">
              <div class="info">
                <h3>Workshop</h3>
                <small class="text_muted"> 08:00 AM - 12:00 PM </small>
              </div>
              <span class="material-icons-sharp"> more_vert </span>
            </div>
          </div>

          <div class="notification add-reminder">
            <div>
              <span class="material-icons-sharp"> add </span>
              <h3>Add Reminder</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const popupBackground = document.getElementById("popupBackground");
      const closePopupButton = document.getElementById("closePopup");

      // Open the pop-up
      const openPopup = () => {
        popupBackground.classList.add("active");
      };

      // Close the pop-up
      const closePopup = () => {
        popupBackground.classList.remove("active");
      };

      // Attach event listeners
      closePopupButton.addEventListener("click", closePopup);

      // Trigger the pop-up on some action (e.g., a button click)
      const triggerButton = document.getElementById("triggerButton"); // Replace with your trigger element
      triggerButton.addEventListener("click", openPopup);
    </script>

    <!-- catagory selector -->
    <script>
      const dropdownButton = document.getElementById("dropdownActionButton");
      const dropdownMenu = document.getElementById("dropdownAction");

      dropdownButton.addEventListener("click", () => {
        dropdownMenu.classList.toggle("hidden");
      });
    </script>

    <script>
      const decreaseButtons = document.querySelectorAll(".decrease");
      const increaseButtons = document.querySelectorAll(".increase");
      const quantityInputs = document.querySelectorAll(".quantity");

      decreaseButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
          if (quantityInputs[index].value > 1) {
            quantityInputs[index].value--;
          }
        });
      });

      increaseButtons.forEach((button, index) => {
        button.addEventListener("click", () => {
          quantityInputs[index].value++;
        });
      });
    </script>

    <script src="/js/dashboard.order.js"></script>
    <!-- <script src="/js/dashboard.index.js"></script> -->
  </body>
</html>
